/*
==========================================================

 Patrimônio 360

 Badge

==========================================================
*/

.badge{

display:inline-flex;

align-items:center;

justify-content:center;

padding:6px 12px;

border-radius:999px;

font-size:12px;

font-weight:600;

}

.badge-success{

background:#16A34A22;

color:#16A34A;

}

.badge-danger{

background:#DC262622;

color:#DC2626;

}

.badge-primary{

background:#7F3DFF22;

color:#7F3DFF;

}